<div class="row commande-info">
    <h2>Vous avez un évènement à venir?</h2>
    <h4>Vous n'oublireriez pas le dessert?</h4>
</div>

<div class="row commande-group">
    <div class="col-6">
        <img>
    </div>
    <div class="col-6">
        <h3>Produits thématiques</h3>
        <p>Oeufs de paque ou buche de noel, pas de probleme</p>
        <button>Voir</button>
    </div>
</div>
<div class="row commande-group">
    <div class="col-6">
        <h3>Gateaux & cupcakes</h3>
        <p>Gateaux, cupcakes, bla bla bla</p>
        <button>Voir</button>
    </div>
    <div class="col-6">
        <img>
    </div>
</div>
<div class="row commande-group">
    <div class="col-6">
        <img>
    </div>
    <div class="col-6">
        <h3>Figurines en fondant</h3>
        <p>Bonhomes et formes de toutes les sortes</p>
        <button>Voir</button>
    </div>
</div>
<div class="row commande-group">
    <div class="col-6">
        <h3>Tartes et biscuits géants</h3>
        <p>Décadente pate-a-biscuit</p>
        <button>Voir</button>
    </div>
    <div class="col-6">
        <img>
    </div>
</div>

<commandes-item-list-dialog></commandes-item-list-dialog>