<div class="row commande-info">
    <h2>Vous avez un évènement à venir?</h2>
    <h4>Vous n'oublireriez pas le dessert?</h4>
</div>

<div class="row commande-group">
    Thematique
    Gateaux & cupcakes & Tartes
    Figurines de sucres
</div>
<div class="row commande-group">
    Thematique
    Gateaux & cupcakes & Tartes
    Figurines de sucres
</div>
<div class="row commande-group">
    Thematique
    Gateaux & cupcakes & Tartes
    Figurines de sucres
</div>

<commandes-item-list-dialog></commandes-item-list-dialog>