@import "../../_variables";

:host{
    padding-top: 120px;
    display: block;
    width: 100%;

}
.commande-info{
    text-align: center;
    padding-bottom: 45px;
    padding-top: 25px;
    h2, h4{
        width: 100%;
    }
}
.commande-group{
    min-height: 250px;
    padding-top: 50px;
    text-align: center;
    >div:first-of-type{
        text-align: right;
        p{
            text-align: right !important;
        }
    }
    >div:last-of-type{
        text-align: left;
        p{
            text-align: left !important;
        }
    }
}