<div id="menu-home" class="row">
  <!--button id="submenu-back" mat-stroked-button (click)="gotoPrev()" color="primary">Retour</button-->
  <button id="submenu-back" mat-stroked-button  routerLink="/menu" color="primary">Retour</button>
  <div  *ngIf="menu$ | async as menu">
      <app-cookie-dough   class="sub-menu"  *ngIf="menu.elem == 'app-cookie-dough'"></app-cookie-dough>
      <app-ice-cream      class="sub-menu"  *ngIf="menu.elem == 'app-ice-cream'"></app-ice-cream>
      <app-other-products class="sub-menu"  *ngIf="menu.elem == 'app-other-products'"></app-other-products>
      
  </div>
</div>