<div class="submenu product-page row justify-content-center">
    <div class="col-md-12 col-sm-12">
        <h3>Cocktails sans alcool</h3>
    </div>
    <div class="col-md-12 col-sm-12">
        <h3>Smoothies</h3>
    </div>
    <div class="col-md-12 col-sm-12">
        <h3>Limonades</h3>
        <img src="/assets/img/menu-products/limonades-700.png">
    </div>
    <div class="col-md-12 col-sm-12">
        <h3>Produits pour chien</h3>
    </div>
    <div class="col-md-12 col-sm-12">
        <h3>vege / vegan</h3>
        Ultra Smart
        Tofu glacé
    </div>

    <div class="col-6 submenu-lastrow icecream">
        <button id="submenu-lastrow-next" routerLink="/menu/cremerie">
            Nos<br/>crèmes glacées
        </button>
    </div>
    <div class="col-6 submenu-lastrow cookiedough">
        <button id="submenu-lastrow-prev" routerLink="/menu/pates-a-biscuit">
            Nos<br/>pates a biscuits
        </button>
    </div>
</div>