<div class="submenu product-page row justify-content-center">
    <div class="col-md-12 col-sm-12" style="padding: 0;padding-bottom: 140px;">
        <img src="/assets/img/menu-products/oth-cocktails.png" style="width:100vw; height: 250px; left: 0; z-index: -1; position: absolute;">
        <h3 style="margin-top: 120px;font-size: 48px;">Cocktails sans alcool</h3>
    </div>



    <div class="col-6 d-none d-md-block">
        <h3 style="color:gray;">Smoothies</h3>
    </div>
    <div class="col-md-6 col-sm-12">
        <h3>Limonades</h3>
        <img src="/assets/img/menu-products/limonades-700.png" style="width: 80vw; margin-right: -180px;">
    </div>


    <div class="col-12" style="padding: 0; text-align: left;margin-top: 130px;">
        <h3>Produits pour chien</h3>
        <img src="/assets/img/menu-products/oth-bisc-chien.png" style="width:60vw;">
    </div>

    <div class="col-md-12 col-sm-12" style="height: 600px;">
        <h3>vege / vegan</h3>
        Ultra Smart
        Tofu glacé
    </div>


    <div class="col-md-12 col-sm-12" style="height: 600px;">
        <h3>Produit thématiques</h3>
        <img src="/assets/img/menu-products/oth-theme-2.jpg">
    </div>



    <div class="col-6 submenu-lastrow icecream">
        <button id="submenu-lastrow-next" routerLink="/menu/cremerie">
            Nos<br/>crèmes glacées
        </button>
    </div>
    <div class="col-6 submenu-lastrow cookiedough">
        <button id="submenu-lastrow-prev" routerLink="/menu/pates-a-biscuit">
            Nos<br/>pates a biscuits
        </button>
    </div>
</div>