<div class="submenu product-page row justify-content-center">
    
    <!--div class="col-md-12 col-sm-12" style="padding: 0;padding-bottom: 140px;">
        
        <h3 style="margin-top: 120px;font-size: 48px;">Cocktails sans alcool</h3>
    </div>
    <div class="col-6 d-none d-md-block">
        <h3 style="color:gray;">Smoothies</h3>
    </div>
    <div class="col-md-6 col-sm-12">
        <h3>Limonades</h3>
        <img src="/assets/img/menu-products/limonades-700.png" style="width: 80vw; margin-right: -180px;">
    </div-->

    <div id="pub-drinks" class="col-12">

        <div id="pub-cocktails" class="row justify-content-center">
            <div class="banner col-lg-11 col-12 border">
                <img src="/assets/img/menu-products/breuvages-cocktails.png">
                <div class="pub-content">
                    <h3>Cocktails sans alcool</h3>
                    <p></p>
                </div>
            </div>
            <div class="col-sm-2 col-6 cocktail">
                <img src="/assets/img/menu-products/cocktails-daiquiri-aux-fraises-75.png">
                <h6>Daiquiri aux fraises</h6>
            </div>
            <div class="col-sm-2 col-6 cocktail">
                <img src="/assets/img/menu-products/cocktails-mai-tai-75.png">
                <h6>Mai tai</h6>
            </div>
            <div class="col-sm-2 col-4 cocktail">
                <img src="/assets/img/menu-products/cocktails-marguarita-75.png">
                <h6>Marguarita</h6>
            </div>
            <div class="col-sm-2 col-4 cocktail">
                <img src="/assets/img/menu-products/cocktails-martini-75.png">
                <h6>Martini</h6>
            </div>
            <div class="col-sm-2 col-4 cocktail">
                <img src="/assets/img/menu-products/cocktails-pina-colada-75.png">
                <h6>Pina colada</h6>
            </div>
        </div>

        <div id="pub-limonades" class="row justify-content-end">
            
            <div class="col-lg-5 col-md-8 col-11">
                <img src="/assets/img/menu-products/breuvages-limonades-600.png">
                <h3>Limonade</h3>
                <p></p>
            </div>
        </div>

        <div id="pub-smoothie" class="row justify-content-start">
            <img src="/assets/img/menu-products/breuvages-smoothie-300.png">
            <div class="pub-content">
                <h3>Smoothies</h3>
                <ul>
                    <li>3 fruits<br/>de votre choix</li>
                </ul>
            </div>
        </div>
    </div>



    <div id="pub-vegans" class="col-md-12 col-sm-12">
        <!-- div class="col-md-8 col-sm-10">
            <h3>Des produis pour tous!</h3>
            <p><strong>Vegans</strong>
                Tofu glacé, biscuits, (Noubliez pas notre pate a biscuit? right?)
            </p>
            <p><strong>Sans lactose</strong>
                Ultra Smart
            </p>
        </div-->
        
        <div class="parralax">
            <img src="/assets/img/menu-products/biscuits-vegans-1400.jpg">
        </div>
    </div>


    <div id="pub-chiens" class="col-12">
        <img src="/assets/img/menu-autres/chien-biscuits-350.png">
        <img src="/assets/img/menu-autres/chien-350.png">
        <div>
            <h3>Gâteries pour chiens</h3>
            <p>
                Montrez-lui votre amour avec une de nos gâteries pour chiens.
                <br/>Il aimera nos biscuits fait maison 
                ou la version "canine" d'un sandwich à la crème glacée.
            </p>
        </div>
        
    </div>



    <!--div id="pub-thematiques" class="col-12">
        <h3>Produits thématiques</h3>
        <img src="/assets/img/menu-autres/pab-bouches-800.jpg">

    </div-->



    <div class="col-sm-6 col-12 submenu-lastrow icecream">
        <button id="submenu-lastrow-next" class="shadow-white"  routerLink="/menu/cremerie">
            Crèmes glacées
        </button>
    </div>
    <div class="col-sm-6 col-12 submenu-lastrow cookiedough">
        <button id="submenu-lastrow-prev" class="shadow-white"  routerLink="/menu/pates-a-biscuits">
            Pâtes à biscuits
        </button>
    </div>
</div>