@import "../../../_variables";
#promo-r3{
    text-align: center;
    background: rgba(0,0,0,0.1);
    padding-top: 40px;
    padding-bottom: 30px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
#promo-r3 h6{
    font-size: 16px;
}
#promo-r3 p{
    font-size: 12px;
}