<div class="row justify-content-center" id="about-articles">
  <div class="col-md-10">
      <section class="row">
          <img src="/assets/img/about/article-1.jpg" title="" alt="">
          <article>
              <h4>Une équipe passionnée</h4>
              <p>
                    Les propriétaires, Geneviève et Josée, ont plus de 15 années d’expérience 
                    dans le domaine du bar laitier, elles se sont donné comme défi 
                    de satisfaire les goûts d’une clientèle très diversifiée.<br/>
                    Presque toujours présentes au commerce pour former et s’assurer 
                    de la qualité des produits et du service, elles donnent la chance 
                    à des jeunes, chaque année, de vivre leur première expérience sur 
                    le marché du travail.
              </p>
          </article>
      </section>
      <section class="row">
          <img src="/assets/img/about/article-2.jpg" title="" alt="">
          <article>
              <h4>Des produits uniques!</h4>
              <p>Menu varié, service personnalisé, qualité.  Chacun y trouve son bonheur.  
                  Produits sans lactose, végans, smoothies, limonade fraîchement pressée, 
                  yogourt glacé, crème glacée, pâtes à biscuits crues, 
                  sauce sucre à la crème maison et tellement plus.  
                  Le but...  vous gâter.
              </p>
          </article>
      </section>
      <section class="row">
          <img src="/assets/img/about/article-3.jpg" title="" alt="">
          <article>
              <h4>Le virage vert</h4>
              <p>Nous sommes conscients de l’impact de notre emprunte environnementale, 
                  c’est pourquoi, nous nous engageons à faire le maximum 
                  pour réduire celle-ci en remplaçant graduellement nos 
                  contenants en plastique par des contenants de carton.
              </p>
          </article>
      </section>
  </div>
</div>
