<div id="promo-r2" class="row justify-content-center">
  <div id="promo-title" class="col-12">
    <h3>Groupes de 10 personnes et plus</h3>
  </div>

  <div class="col-12">
      <p>Rabais de <strong>15%</strong> sur votre facture.</p>
  </div>
  

  <div class="col-md-2 col-sm-4 col-12 promo-group">
    <h4>Équipes<br/> sportives</h4>
    <img src="/assets/img/promos/gr-equipes-400.jpg">
  </div>
  <div class="col-md-2 col-sm-4 col-12 promo-group">
    <h4>Scouts<br/> camps de jours</h4>
    <img src="/assets/img/promos/gr-scouts-400.jpg">
  </div>
  <div class="col-md-2 col-sm-4 col-12  promo-group one-word">
    <h4>Classes</h4>
    <img src="/assets/img/promos/gr-ecoles-400.jpg">
  </div>
  <div class="col-md-2 col-sm-4 col-12  promo-group sm-new-line">
    <h4>Amis<br/> familles</h4>
    <img src="/assets/img/promos/gr-10-400.jpg">
  </div>
  <div class="col-md-2 col-sm-4 col-12  promo-group sm-new-line one-word">
    <h4>Entreprises<br/> associations</h4>
    <img src="/assets/img/promos/gr-orgs-400.jpg">
  </div>
  <!--div class="col-4 promo-group">
    <h4>Équipes sportives</h4>
    <img src="/assets/img/promos/gr-equipes-400.jpg">
  </div>
  <div class="col-4 promo-group">
    <h4>Scouts et camps de jours</h4>
    <img src="/assets/img/promos/gr-scouts-400.jpg">
  </div>
  <div class="col-4 promo-group">
    <h4>Classes</h4>
    <img src="/assets/img/promos/gr-ecoles-400.jpg">
  </div>
  <br/>
  <div class="col-6 promo-group">
    <h4>Groupes de 10+ personnes</h4>
    <img src="/assets/img/promos/gr-10-400.jpg">
  </div>
  <div class="col-6 promo-group">
    <h4>Entreprises</h4>
    <img src="/assets/img/promos/gr-orgs-400.jpg">
  </div-->
</div>