<div id="promo-r2" class="row justify-content-center">
  <div id="promo-title" class="col-12">
    <h3>Rabais de groupes</h3>
  </div>

  <div class="col-4 promo-group">
    <h4>Équipes sportives</h4>
  </div>
  <div class="col-4 promo-group">
    <h4>Scouts et camps de jours</h4>
  </div>
  <div class="col-4 promo-group">
    <h4>Classes</h4>
  </div>
  <div class="col-4 promo-group">
    <h4>Groupes de 10+ personnes</h4>
  </div>
  <div class="col-4 promo-group">
    <h4>Entreprises</h4>
  </div>
</div>