$product-box-transition: opacity 700ms, background 700ms;
$select-box-transition: opacity 300ms;

header, html{
    border-bottom: 2px solid gray;
}

#content .fill-bg{
    background-color: gray;
    border: solid 2px black;
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 24px 16px rgba(0,0,0,0.49) inset;
    box-shadow: 1px 1px 24px 16px rgba(0,0,0,0.49) inset;
}

div.info-hover{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.3);
}
div.info-hover:hover{
    background: rgba(255,255,255,0);
}
div.info-hover>.container{
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
    padding: 0;
    margin: 0;
    text-align:center;
}

#content.active div.info-hover>.container, #content.active div.info-hover{
    transition: $product-box-transition;
}

div.info-hover>.container.info-hover-inact, div.info-hover:hover>.container.info-hover-act{
    opacity: 1;
}
div.info-hover>.container.info-hover-act, div.info-hover:hover>.container.info-hover-inact{
    opacity: 0;
}
#selected-content{
    position: absolute;
    min-width: 100vw;
    min-height: 90vh;
    max-height: 100vh;
    background: white;
    z-index: -1;
    transition: $select-box-transition;
    opacity:0;
    padding-left: 10vw;
    overflow: auto;
    height:92vh;
}
#unselect-button{
    position: absolute;
    z-index:1000;
    top: 20px;
    right: 60px;

    vertical-align: middle;
    text-align: center;

    height: 30px;
    width: 30px;

    color: rgb(46, 46, 46);
    font-weight: bold;
    font-size: 24px;
    
    /*
    height: 30px;
    width: 140px;
    line-height: 2;
    background: blue;
    border-radius: 10px;
    color: white;
    */
}
#unselect-button:hover{
    cursor: pointer;
}
.selector-content{
    height:1000px;
}
.prod-ctg-ttl{
    opacity: 0;
    font-family: "Lobster", cursive;
    font-size: 40px;
    padding-top: 40px;
    color: rgba(0,0,0, 0.9);
}