/bower_components
/resources/vendor
/node_modules
/public
!/public/_OLD
!/public/**
/bin/composer/
/bin/php73/
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
