<div id="footer" class="row pc-only footer">
    <div class="col-lg-4 col-md-7 col-sm-6">
        <div class="row justify-content-center title-row">
            <h5>Notre adresse</h5>
            <p>{{ address1 }}<br/>{{ address2 }}</p>
        </div>
    </div>
    <div class="col-lg-3 d-lg-block d-md-none d-none">
        <div class="row justify-content-center title-row">
            <h5>Nous contacter</h5>
            <p>{{ phone }}<br/>{{ email }}</p>
        </div>
    </div>
    <div class="col-1 d-lg-block d-md-none d-none" ></div>
    <div class="col-lg-4 col-md-5 col-sm-6">
        <div class="row justify-content-start">
            <div id="social-icons">
                <h3>Nous suivre</h3>
                <a *ngFor="let link of links" href="{{ link.url }}" target="_blank">
                    <img src="{{ link.img }}" alt="{{ link.name }}" />
                </a>
            </div>
            <br />
        </div>
    </div>
    
</div>
<div id="footer" class="row mobile-only footer">
    <div class="col-12">
        <a *ngFor="let link of links" href="{{ link.url }}" target="_blank">
            <img src="{{ link.img }}" alt="{{ link.name }}" />
        </a>
    </div>
</div>