@import "../../_variables";
#footer a{
    color: white;
}
#footer{
    height: 160px;
    background: rgb(40,40,40);
    color: white;
    line-height: 1.2;
    padding-bottom: 20px !important;
    padding-left: 10vw !important;
    padding-right: 10vw !important;
    overflow: hidden;
}
#footer.pc-only{
    padding-top: 35px !important;
}

#footer h3{
    font-size: 14px;
}
/*#footer .col-md-4{
    padding-right: 10vw;
}*/

#footer table{
    font-size: 90%;
}
#footer table tr td:first-child{
    padding-right: 40px;
}

#footer #social-icons h3{
    font-size: 1.15rem;
    margin-bottom: 10px;
}
#footer #social-icons img{
    width: 48px;
    height: 48px;
    margin-right: 15px;
    opacity: 0.8;
}
#footer #social-icons img:hover{
    opacity: 1;
}
p{
    -webkit-margin-before: 0em !important; 
    margin-block-start: 0em !important; 
    width: 100%;
    text-align: center !important;
}
#footer {
    
    @media (orientation: portrait) and (max-width: @sizes-media-max[sm]){
        height: 40px;
        div.pc-only{
            display: none !important;
        }
    }
}
#footer.mobile-only{
    position: relative;
    height: 60px;
    div{
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
    }
    img{
        height: 50px;
        width: 50px;
        margin: 5px;
        margin-left: 15px;
        margin-right: 15px;
        opacity: 0.8;
    }
    img:hover{
        opacity: 1;
    }
    
}