<div class="row" id="about-r1">
    <div class="col">
        <div class="row justify-content-center" style="padding-top: 80px;">
            <div class="col-md-8" style="">
                <h2>Mère et fille s’unissent pour créer Biscuits & Crème</h2>
                <p>
                    Au goût du jour et situé dans le secteur de Saint-Janvier,
                    elles arrivent avec plusieurs nouveaux produits apprêtés de façons créatives et ingénieuses, mais toujours délicieuses.
                </p>
                <h4><strong>C'est la destination à ne pas manquer cet été!</strong></h4>
            </div>
        </div>
    </div>
</div>



<div id="about-banner-1" class="row img-parallax" style="height: 220px; background-image:url('/assets/img/backgrounds/about-banner.jpg');" data-image="/assets/img/backgrounds/about-banner.jpg" data-cover-ratio="0.3">
</div>
