
// Fonts
@import url('https://fonts.googleapis.com/css?family=Dosis|Indie+Flower|Lobster|Kaushan+Script|Dancing+Script:400,700|Nunito');
// Variables
@import 'variables';
@import './_variables.scss';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import './theme.scss';
@import './components/containers.scss';
@import './components/content.scss';
@import './components/social.scss';
@import './components/header.scss';
@import './components/footer.scss';
// To generate separatly when in production
//@import './pages/home.scss';
//@import './pages/products.scss';

html, body, #content>.row{
  margin: 0;
  padding: 0; 
  font-family: "Nunito", cursive;
}
