<header>
  <div class="logo" style="pointer-events: none;">
      <img id="nav-logo" src="assets/img/logo/logo-title-154.png" alt="" />
  </div>

  <div id="lang-select">
    <span class="wide-vw">

    </span>
  </div>

  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" routerLink="/" routerLinkActive="active">Accueuil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/info" routerLinkActive="active">À propos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/promo" routerLinkActive="active">Promotions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/menu" routerLinkActive="active">Menu</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact" routerLinkActive="active">Nous contacter</a>
    </li>
  </ul>


</header>