header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 1);
    z-index: 1000;
    border-bottom: 1px solid rgba(212, 212, 212, 0.582);
}
header.active{
    -webkit-transition: $header-transition; /* Safari */
    transition: $header-transition;
}
header.scrolled{
    background: $header-primary-color;
}
header.scrolled a{
    color: white;
    margin-top: $header-margin-1;
}
header.active a{
    -webkit-transition: $header-transition; /* Safari */
    transition: $header-transition;
}
header a{
    margin-top: $header-margin-2;
    z-index: 1000;
    margin-bottom: 7px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: $header-primary-color;
}

header>#lang-select{
  position: absolute;
  top: 5px;
  right: 20px;
}

header li.nav-logo{
    opacity:1;
    position: absolute;
    top: -20px;
    -webkit-transition: $header-logo-transition-show; /* Safari */
    transition: $header-logo-transition-show;
}
header.scrolled li.nav-logo{
    opacity:0;
    -webkit-transition: $header-logo-transition-hide; /* Safari */
    transition: $header-logo-transition-hide;
}
#nav-logo{
    opacity: 0.8;
}


@media screen and (max-width: $breakpoint-cellphone) {
    header{
        border-bottom: none !important;
    }
    .nav-logo{
        left:0;
        width:100vw;
        height: 10vh;
    }
    #nav-logo{
        width: 60vw;
        margin-left: 20vw;
    }
    .nav-item{
        // display:none;
    }
    #content{
        padding-top: 60px;
    }
    #content .fill-bg{
        background-position: 50% 10%;
    }
    .nav-hide-sm{
        display: none;
    }
}
@media screen and (min-width: $breakpoint-cellphone) 
              and (max-width: $breakpoint-tablet) {

}
