

<div id="menu-home" class="row">
     <div class="open-menu col-md-4 col-sm-12" (click)="menu = 'cookie'" style="background-image: url( '/assets/img/backgrounds/biscuits-bg-600.png');">1</div>
     <div class="open-menu col-md-4 col-sm-12" (click)="menu = 'cream'" style="background-image: url( '/assets/img/backgrounds/ice-cream-bg-600.png');">2</div>
     <div class="open-menu col-md-4 col-sm-12" (click)="menu = 'other'" style="background-image: url( '/assets/img/backgrounds/tarte-bg-600.png');">3</div>

     <button *ngIf="menu" (click)="menu = ''">x</button>
     
     <app-cookie-dough   class="sub-menu"  *ngIf="menu == 'cookie'"></app-cookie-dough>
     <app-ice-cream      class="sub-menu"  *ngIf="menu == 'cream'"></app-ice-cream>
     <app-other-products class="sub-menu"  *ngIf="menu == 'other'"></app-other-products>
</div>


