
<div id="menu-home" class="row" >
    <div *ngFor="let menu of menus$ | async"
        class="open-menu col-md-4 col-sm-12"
        [ngStyle]="{'background-image':'url('+menu.linkImgUrl+')'}"
        [class.selected]="menu.name === selectedMenu"
        (click)="goToMenu(menu)">
        <div class="mask"></div>
        <h4 class="menu-ttl">{{menu.title}}</h4>
    </div>

     <!--a routerLink='/menu/cookie-dough'
        class="open-menu col-md-4 col-sm-12"
        style="background-image: url( 'assets/img/backgrounds/biscuits-bg-600.png');">
     </a>
     <a routerLink='/menu/ice-cream'
        class="open-menu col-md-4 col-sm-12"
        style="background-image: url( 'assets/img/backgrounds/ice-cream-bg-600.png');">
     </a>
     <a routerLink='/menu/other-products'
        class="open-menu col-md-4 col-sm-12" 
        style="background-image: url( 'assets/img/menu/menu-other-prod.jpg');">
     </a-->
</div>


