<header>
  <div class="logo">
    <a href="">
      <img id="nav-logo" src="" alt="" />
    </a>
  </div>

  <div id="lang-select">
    <span class="wide-vw">

    </span>
  </div>

  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="">home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">about</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">menu</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">contact</a>
    </li>
  </ul>
</header>

