
#home-social-icons{
    text-align: center;
    min-width: 100vw;
    margin-left: 0px;
    position: absolute;
    // -webkit-transition: transform 2200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms, opacity 1000ms cubic-bezier(0.42, 0, 0.58, 1) 1000ms;
    // -moz-transition: transform 2200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms, opacity 1000ms cubic-bezier(0.42, 0, 0.58, 1) 1000ms;
    // -o-transition: transform 2200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms, opacity 1000ms cubic-bezier(0.42, 0, 0.58, 1) 1000ms;
    transition: transform 2200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms, opacity 1000ms cubic-bezier(0.42, 0, 0.58, 1) 1000ms;
    
    opacity: 0;
    &.loaded{
        opacity: 1;
        // -webkit-transform: translateY(-140px);
        transform: translateY(-140px);
    }


    a {
        margin-left: 20px;
        margin-right: 20px;
        opacity: 0.8;
        display: inline-block;
        height: 100%;

        &:hover{
            opacity: 1;
        }
    }
    
}
