<table id="hours-tbl" class="no-indent"  *ngIf="schedule">
    <tr><td>Lundi</td>
        <td>{{ schedule.mon }}</td>
    </tr>
    <tr><td>Mardi</td>
        <td>{{ schedule.tue }}</td>
    </tr>
    <tr><td>Mercredi</td>
        <td>{{ schedule.wed }}</td>
    </tr>
    <tr><td>Jeudi</td>
        <td>{{ schedule.thu }}</td>
    </tr>
    <tr><td>Vendredi</td>
        <td>{{ schedule.fri }}</td>
    </tr>
    <tr><td>Samedi</td>
        <td>{{ schedule.sat }}</td>
    </tr>
    <tr><td>Dimanche</td>
        <td>{{ schedule.sun }}</td>
    </tr>
</table>

<style>

</style>
