@import '../../../_variables.less';



#row-1 {
    padding-top: 50px;
    >div {
        padding-top: 70px;
    } 

    #coordonnes {
        text-align: center !important;
        padding-right: 0 !important;
        h3{
            margin-bottom: 10px;
        }
        table{
            display: inline-block;
            margin-top: 10px;


            td{
                padding-left: 20px;
                padding-right: 20px;
            }
            p{
                margin-block-start: 0.2rem;
                text-align: center !important;
                a{
                    padding-top: 0px;
                }
            }
        }
    }

    .phone{
        display: inline-block;
        font-size: 20px;
        padding-top: 15px;
    }

    #map{
        text-align: left;
        overflow:hidden;
    }

    #map iframe{
        display: inline-block;
        border: 2px solid rgb(140, 140, 140);
        background-image: url("@{base-url}assets/img/contact/map-preloaded.jpg");
        background-position: 50% 50%;
        background-size: 100% 100%;
        background-repeat: no-repeat;

    }
}

@media only screen and (max-width: 940px) {
    #row-1 #coordonnes table td{
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media only screen and (max-width: 400px) {
    #row-1
    #row-1 #coordonnes table td{
        padding-left: 2px;
        padding-right: 2px;
        
    }
}
#row-1{
    @media (orientation: portrait) and (max-width: @sizes-media-max[sm]){

        #coordonnes{
            padding-right: 0 !important;
            padding-left: 0 !important;
        }
    }
}