h1{
    font-size: 50px;
    padding-left: 60px;
    font-family: "dancing script";
}
ul.wide{
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}
ul:not(.wide) {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}
ul{
    list-style: none;
    border-bottom: 1px solid rgb(230, 230, 230);
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 30px;
    padding-top: 30px;
}
ul:last-of-type{
    border-bottom: none;
}
h3{
    font-size: 22px;
    font-family: "Montserrat";
}
ul li{
    font-family: "Montserrat";
    font-size: 18px;
}
#buttons{
    text-align: center;
    display: block;
}
#buttons button{
    min-width: 50%;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    margin-top: 7px;
    margin-bottom: 5px;
    padding: 3px;
    //background: rgb(240, 240, 240);
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: bold;
}
