<!--form id="row-2" class="row justify-content-center bg-effect" 
action="{{ formAction }}" method="POST" -->
<div id="contact-row-2" class="row">
    <div id="contact-r2-thankyou" style="display:none;" class="row justify-content-center bg-effect">
        thank you
    </div>
    <form id="row-2" class="row justify-content-center bg-effect col-12" 
        #contactForm="ngForm" (ngSubmit)="onClickSubmit(contactForm.value)">
        <div class="col-12">
            <h2>Contactez-nous</h2>
            <p>Vous avez une suggestion ou un commentaire?</p>
        </div>

        <div class="col-sm-12 col-md-4 side-inputs">
            <input type="text"  name="name"   placeholder="Votre nom      (optionel)" ngModel />
            <input type="email" name="email"  placeholder="Votre email    (optionel)" ngModel />

            <h5 class="rating-ttl">Comment notereriez-vous votre visite?</h5>
            <div class="rating">
                <input id="star5" name="star" type="radio" value="5" class="radio-btn hide" ngModel/>
                <label for="star5" >☆</label>
                <input id="star4" name="star" type="radio" value="4" class="radio-btn hide" ngModel/>
                <label for="star4" >☆</label>
                <input id="star3" name="star" type="radio" value="3" class="radio-btn hide" ngModel/>
                <label for="star3" >☆</label>
                <input id="star2" name="star" type="radio" value="2" class="radio-btn hide" ngModel/>
                <label for="star2" >☆</label>
                <input id="star1" name="star" type="radio" value="1" class="radio-btn hide" ngModel/>
                <label for="star1" >☆</label>
                <div class="clear"></div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <textarea rows="8" cols="60" name="description" ngModel ngModel></textarea>
        </div>
        <div class="col-sm-10" style="text-align:right;padding-top: 20px;">
            <input class="button" type="submit" value="Envoyer" />
        </div>
    </form>
</div>

<style>

 </style>

 <script>
 $(document).ready(function(){
    // Check Radio-box
    $("#row-2 div.rating input:radio").attr("checked", false);

    $('#row-2 div.rating input').click(function () {
        $("#row-2 div.rating span").removeClass('checked');
        $(this).parent().addClass('checked');
    });

    $('input:radio').change(
      function(){
        var userRating = this.value;
        alert(userRating);
    }); 
});
 
 </script>