@import "../../_variables";

@border-color: rgba(0, 0, 0, 0.705);

@a: 100vh;
@b: ((@content-padding - (@header-max - @header-min)) + @content-padding) / 2;

app-row1{
   display: block;
   height: ~"calc(@{a} - @{b}) !important";
}

#grid-biscuits{
    margin: 70px;
    margin-right: 20px;
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
    /*background: rgba(4, 10, 31, 0.8);*/
    border: 3px solid @border-color;
}

#grid-biscuits img{
    width: 130px;
    height: 130px;
    margin: 8px;
    border-radius: 2px;
    border: 2px solid @border-color;
    opacity: 0.9;
}
#grid-biscuits img:hover{
    cursor: pointer;
    opacity: 1;
}
#grid-biscuits tr, #grid-biscuits td{
    border: none;
}




#row-4{ 
   // color:white;
    min-height:80vh;
    //background:rgb(17, 17, 17);
}
#row-4-bg{ 
    background-size: 100% 130%;
    background-repeat: no-repeat;
    background-position: 50% 10%;
    -webkit-box-shadow: 0 -3px 19px 7px rgba(0, 0, 0, 0.5) inset,
    0 3px 19px 6px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 -3px 19px 7px rgba(0, 0, 0, 0.5) inset,
    0 3px 19px 6px rgba(0, 0, 0, 0.5) inset;
    border-radius: 5px;
}
#row-5{
    height:500px;
}
#row-6{
    min-height:80vh;
    background:rgb(17, 17, 17);
}
#row-7 {
    height:200px;
}
