<div class="row justify-content-center" id="about-r2">
    <div class="col-md-10">
        <section class="row">
            <img src="/assets/img/about/article-1.jpg" title="" alt="">
            <article>
                <h4>Une équipe attentionnée</h4>
                <p>Les propriétaires, Geneviève et Josée, cumulent plus de 15 années d’expérience dans le domaine du bar laitier.  Avec une multitude de produits toujours disponibles, elles se sont donné comme défi de satisfaire les goûts d’une clientèle très diversifiée. 
                    Soucieuses d’offrir une expérience client à la hauteur de vos attentes, elles sont presque toujours présentes au commerce pour former et s’assurer de la qualité des produits et du service. Chaque année, elles donnent la chance à des jeunes de vivre leur première expérience sur le marché du travail dans une ambiance familiale et chaleureuse. 
                    </p>
            </article>
        </section>
        <section class="row">
            <img src="/assets/img/about/article-2.jpg" title="" alt="">
            <article>
                <h4>Des produits uniques!</h4>
                <p>Menu varié, service personnalisé, qualité.  Chacun y trouve son bonheur.  Produits sans lactose, végans, smoothies, limonade fraîchement pressée, yogourt glacé, crème glacée, pâte à biscuits crue ou cuite de différentes façons, sauce sucre à la crème maison et tellement plus.  Le but :  vous gâter.</p>
            </article>
        </section>
        <section class="row">
            <img src="/assets/img/about/article-3.jpg" title="{{ __('about_p3t" alt="{{ __('about_p3_tags">
            <article>
                <h4>Le virage vert</h4>
                <p>Nous sommes conscients de l’impact de notre emprunte environnementale, c’est pourquoi, nous nous engageons à faire le maximum pour réduire celle-ci en remplaçant graduellement nos contenants en plastique par des contenants de carton.</p>
            </article>
        </section>
    </div>
</div>
