



<div id="menu-links" class="row content-box pc-only" style="text-align: center;">
    <div id="imgrd-1-1" class="col-sm-12 col-md-10 container">
        <div *ngFor="let menu of menus$ | async ; let i = index"
            [id]="'imgrd-1-1-'+i"
            class="textbox col-sm-12 col-md-4 linkToMenu"
            (click)="goToMenu(menu)">
            <!--a href="/menu/{{menu.name}}"-->
                <img src="{{ menu.tileImage }}" alt="Snow" />
                <h3>{{ menu.tileTitle }}</h3>
        </div>
    </div>

    <!--div id="imgrd-1-2" class="col-sm-12 col-md-10 container">
        <img src="/assets/img/home/grid-1-2.1.jpg" alt="Snow" style="width:100%;" />
        <div class="mask"></div>
        <div class="textbox">
            <h3>La saveur est au rendez-vous!</h3>
            <p>La saveur est au rendez-vous! La saveur est au rendez-vous! La saveur est au rendez-vous!</p>
            <a class="button-style" routerLink="/menu">Nos produits</a>
        </div>
    </div-->

    
</div>
