@import "../../../_variables";



#menu-links{
    display: block;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: -webkit-linear-gradient(-90deg, rgba(255,255,255,0.7) 0, rgba(255,255,255,0.9) 20%, rgba(255,255,255,0.95) 49%, rgba(255,255,255,0.9) 80%, rgba(255,255,255,0.7) 100%);
    background-image: -moz-linear-gradient(180deg, rgba(255,255,255,0.7) 0, rgba(255,255,255,0.9) 20%, rgba(255,255,255,0.95) 49%, rgba(255,255,255,0.9) 80%, rgba(255,255,255,0.7) 100%);
    background-image: linear-gradient(180deg, rgba(255,255,255,0.7) 0, rgba(255,255,255,0.9) 20%, rgba(255,255,255,0.95) 49%, rgba(255,255,255,0.9) 80%, rgba(255,255,255,0.7) 100%);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;


    #linkToMenuHome{
        display: block;
        width: 100%;
        padding-top: 40px;
        padding-bottom: 60px;
        text-align: center;
        opacity: 0.5;
        font-family: "Montserrat";
        font-weight: bold;
        color: darkblue;

        cursor: pointer;

        &:hover{ opacity: 0.8; }

        a { 
            cursor: pointer;
            opacity: 0.8;
            &:hover{ opacity: 1; font-weight: bold; } 
        }
        i { font-size: 70px; 
            color: rgba(0,0,0,0.7); }
        h5{ 
            font-size: 22px;
            margin-top: 25px;
        }
        h6{ // display: none; 
            font-size: 18px;
            color: rgb(68, 3, 3);
        }
    }
    #imgrd-1-1{ display: none; }
    #linkToMenuHome h6 { display: block; }

    #imgrd-1-1{
        max-width: 1300px;
    }
        
    #imgrd-1-1-0{ float:left;  }
    #imgrd-1-1-2{ float:right; }

    .linkToMenu {
        width: 32%;
        max-width: 370px;
        min-height: 220px;
        max-height: 300px;
        cursor: pointer;
        text-align: center;
        opacity: 0.9;
        overflow: hidden;
        display: inline-block;
        border-radius: 5%;
        border: 6px solid rgb(60,60,60);

        &:hover {
            opacity: 1;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            cursor: pointer;
            border: 2px solid lightgray;
            border-radius: 5px;
            
        }
        h3 {
            position: relative;
            display: inline-block;
            z-index: 100;
            font-family: 'Fredericka the Great', cursive;
            font-weight: bold;
            font-size: 30px;
            color: rgb(210, 210, 210);
            margin-top: 25%;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
        }
        @media (min-width: 1000px) {
            height: 20vw;
        }
        
    }
    
    
    @media (min-width: 1400px) {
        #imgrd-1-1{ display: block; }
        #linkToMenuHome h6 { display: none; }
    }
    @media (max-width: @sizes-media-max[sm]) {
        #imgrd-1-1{ display: none; }
        #linkToMenuHome{ 
            padding-top:60px;
            padding-bottom: 60px;
            h6{ display: block; }
        }
    }
    
}

