<div id="row-3" class="row content-box justify-content-center" style="text-align: center;">
    <span class="col-10"></span>
    <h3>Découvrez-nous sur les réseaux sociaux!!</h3>

    <div class="col-12 social-links">
        <a href="/a-propos">
            <img src="/assets/img/social/facebook-96.png" alt="facebook" />
        </a>
        <a href="/a-propos">
            <img src="/assets/img/social/google-96.png" alt="google" />
        </a>
        <a href="/a-propos">
            <img src="/assets/img/social/instagram-96.png" alt="instagram" />
        </a>
    </div>

</div>
