<div id="row-3" class="row content-box justify-content-center" style="text-align: center;">
    <span class="col-10"></span>
    <h3>Découvrez-nous sur les réseaux sociaux!!</h3>

    <div class="col-12 social-links">
        <a href="/a-propos">
            <img src="/assets/img/social/FB-f-Logo__blue_100.png" alt="Facebook" />
        </a>
        <a href="/a-propos">
            <img src="/assets/img/social/Pinterest-badge-144px.png" alt="Instagram" />
        </a>
        <a href="/a-propos">
            <img src="/assets/img/social/Pinterest-badge-144px.png" alt="Pinterest" />
        </a>
    </div>

</div>
