<div id="home-parallax3" class="row parallax">
  <div class="container-fluid">
    
    <div class="row">
      <div class="col-lg-7 col-md-9 col-11 bg-effect-white">
        <h3>Seul, en famille, en couple ou en groupe!!</h3>
        <p>
          Menu varié, service, qualité: chacun y trouve son bonheur.
        </p>
        <p>
          Produits sans lactose, végans, smoothies, limonade fraîchement pressée, yogourt glacé, 
          crème glacée, pâte à biscuits crue ou cuite, 
          sucre à la crème maison et tellement plus.
        </p>
        <p>
          Le but :  vous gâter.
        </p>
      </div>
    </div>

    <img id="home-par3-img1" src="/assets/img/home/cornet-pab-300.png">
  </div>
</div> 
