#promo-r1{
    padding-top: 80px;
    padding-bottom: 80px;
}

#promo-r1>div{
    text-align: center;
}
#promo-r1 #promo-desc{
    margin-top: 40px;
    margin-bottom: 60px;
}
#promo-r1 #promo-desc h3{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 34px;
}
#promo-r1 #promo-desc p{
    font-family: "Montserrat";
    font-size: 20px;
}
#promo-today{
    min-height: 400px;
}
#promo-today h4{
    font-family: "dancing script";
    font-weight: bold;
    font-size: 32px;
}
#promo-today h3{
    font-family: "Montserrat";
    font-weight: bold;
}

#today_img{
    position: absolute;
    top: 130px;
    left: 25%;
    width: 50%;
    border-radius: 50%;
    border: 2px solid;
}
#promo-r1 table{
    margin-top: 20px;
    text-align: left;
}
#promo-r1 table tr>td:first-of-type{
    font-weight: bold;
    padding-right: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
#promo-r1 table tr>td{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Montserrat";
}