<div id="promo-r1" class="row justify-content-center">
    <div id="promo-desc" class="col-12">
        <h3>Des rabais chaque jour!</h3>
        <p>Cette saison, profitez chaque jour d'un rabais de <strong>20%</strong> sur un produit vedette</p>
    </div>
    <div id="promo-today"  class="col-md-4 col-sm-12">
        <h4>Aujourd'hui!</h4>
        <h3>{{ promos.today.product.name }}</h3>
        <img id="today_img" *ngIf="promos.today.product.img" src="{{ promos.today.product.img }}">
    </div>
    <div class="col-md-6 col-sm-12">
        <table class="no-indent">
            <tr><td>Lundi</td>
                <td>{{ promos.weekdays[1].product.name }}</td>
            </tr>
            <tr><td>Mardi</td>
                <td>{{ promos.weekdays[2].product.name }}</td>
            </tr>
            <tr><td>Mercredi</td>
                <td>{{ promos.weekdays[3].product.name }}</td>
            </tr>
            <tr><td>Jeudi</td>
                <td>{{ promos.weekdays[4].product.name }}</td>
            </tr>
            <tr><td>Vendredi</td>
                <td>{{ promos.weekdays[5].product.name }}</td>
            </tr>
            <tr><td>Samedi</td>
                <td>{{ promos.weekdays[6].product.name }}</td>
            </tr>
            <tr><td>Dimanche</td>
                <td>{{ promos.weekdays[0].product.name }}</td>
            </tr>
        </table>
    </div>
</div>