@import '../../../_variables.less';

p {
    text-align: center !important;
}

#promo-r1>div{
    text-align: center !important;
}
#promo-r1 #promo-desc{
    margin-top: 40px;
    margin-bottom: 60px;
}
#promo-r1 #promo-desc h3{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 34px;
}
#promo-r1 #promo-desc p{
    font-family: "Montserrat";
    font-size: 20px;
}

#promo-today h4{
    font-family: "dancing script";
    font-weight: bold;
    font-size: 32px;
}
#promo-today h3{
    font-family: "Montserrat";
    font-weight: bold;
}

#today_img{
    //position: absolute;
    margin-top: 30px;
    margin-bottom: 10px;
    // top: 130px;
    left: 20%;
    width: 60%;
    border-radius: 50%;
    border: 2px solid;
}

#promo-r1{
    padding-top: 110px;
    padding-bottom: 20px;

    #promo-today{
        min-height: 400px;
        @media (max-width: @sizes-media-max[sm]){
            min-height: 480px;
        }
    }

    table{
        margin-top: 20px;
        text-align: left;
        
    }
    table tr>td:first-of-type{
        font-weight: bold;
        padding-left: 10px;
        padding-right: 20px;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        @media (min-width: @sizes-media-min[md]){
            padding-left: 0px;
            padding-right: 40px;
        }
    }
    table tr>td{
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: "Montserrat";
    }

    @media (max-width: @sizes-media-max[sm]){
        table{
            text-align: center;
            margin-top: 0px;
        }
    }
    @media (orientation: portrait) and (max-width: @sizes-media-max[sm]){
        padding-top: 120px;
        padding-bottom: 0px;

        #promo-today{
            min-height: 400px;
        }
    }
}