<div class="row" id="about-intro">
  <div class="col">
      <div class="row justify-content-center" style="padding-top: 110px;">
          <div class="col-md-8" style="">
              <h2>Mère et fille s’unissent pour créer Biscuits & crème</h2>
              <p>
                  Au goût du jour et situé à Mirabel dans le secteur de Saint-Janvier,
                  elles arrivent avec plusieurs nouveaux produits apprêtés de façon créative et ingénieuse, mais toujours délicieuse.
              </p>
              <h4><strong>C'est la destination à ne pas manquer !</strong></h4>
          </div>
      </div>
  </div>
</div>