@import "../../../_variables.less";
#cookie-banner h2{
    font-family: "Lobster";
    font-size: 60px;
}
.submenu>div.submenu{
    height: 600px;
    margin-bottom: 40px;
}
.submenu > h2 {
    width: 100%;
    height: 10%;
    position: absolute;
    top: 0px;
    left: 0;
}
div.pab-kind{
    min-height: 220px;
    position: relative;
}
div.pab-kind.bottom { 
    @media (min-width: @sizes-media-min[md]) {
        margin-top: -70px;
    }
}
div.pab-kind h3{
    color: rgb(70, 70, 70);
}
/*
div.pab-kind{
    height: 220px;
}
div.pab-kind h3{
    margin-top: 35px;
}
div.pab-kind img{
    position: absolute;
    top: 10px;
    height: 200px;
    width: 200px;
}

div.pab-kind.top        {  }
div.pab-kind.top img    { bottom: 10px; }
div.pab-kind.bottom     { bottom: 0;}
div.pab-kind.bottom img { top: 10px; }
div.pab-kind.left       { text-align: right; }
div.pab-kind.left img   { right: 10px; }
div.pab-kind.left h3    { padding-right: 200px; }
div.pab-kind.right      { text-align: left; }
div.pab-kind.right img  { left: 10px; }
div.pab-kind.right h3   { padding-left: 200px; }

#pub-combos{
    margin-top: 30px;
    @media (min-width: @sizes-media-min[md]) {
        margin-top: 100px;
    }
}
*/
#pub-combos{
    margin-top: 20vh;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #2b51fd;
    color: white;
    border: 2px solid black;
}
.submenu .pub-combo{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(245, 245, 245);
    border-bottom: 3px solid rgb(70,70,70);
    box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.4);
}
.submenu div.pub-combo.left{
    z-index: 10;
    box-shadow: -4px 10px 10px 1px rgba(0, 0, 0, 0.4);
}
#pub-combos img{
    margin-top: 10px;
    @media (max-width: 600px) {
        width: 400px;
    }
}
#pub-tartes{
    z-index: -1;
    padding: 0;
    //text-align: right;
    overflow: hidden;
}

#pub-tartes img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
#info-tartes{
    min-height: 600px;
    padding-top: 130px;
    padding-left: 6vw;
    padding-right: 6vw;
    padding-bottom: 200px;
    width: 50%;
    float: right;
    @media (max-width: @sizes-media-max[sm]) {
        width: 100%;
    }
}
#info-tartes h3{
    font-weight: bold;
    font-size: 48px;
    text-decoration: underline;
}