
<div class="submenu product-page row justify-content-center">
    <div id="pub-pab-kinds" class="row justify-content-center">
        <div id="cookie-banner" class="col-12 banner">
            <h2>Nos Pâtes à Biscuits</h2>
        </div>

        <div class="col-md-4 col-sm-12 pab-kind">
            <h3>Caramel</h3>
            <img src="/assets/img/menu-products/pab-rnd-caramel-200.png" alt="caramel">
        </div>
        <div class="col-md-4 col-sm-12 pab-kind">
            <h3>Pépites de chocolat</h3>
            <img src="/assets/img/menu-products/pab-rnd-pepites-200.png" alt="pepites">
        </div>
        <div class="col-md-4 col-sm-12 pab-kind">
            <h3>Double chocolat</h3>
            <img src="/assets/img/menu-products/pab-rnd-choco-200.png" alt="choco">
        </div>
        <div class="bottom col-md-4 col-sm-12 pab-kind">
            <h3>Reese</h3>
            <img src="/assets/img/menu-products/pab-rnd-reese-200.png" alt="reese">
        </div>
        <div class="bottom col-md-4 col-sm-12 pab-kind">
            <h3>Arc-en-ciel</h3>
            <img src="/assets/img/menu-products/pab-rnd-arc-en-ciel-200.png" alt="reese">
        </div>
    </div>


    <div class="col-12" id="pub-combos">
        <h3>Essayez nos combos!</h3>
    </div>
    <div class="col-md-6 col-6 pub-combo left">
        <h3>combo molle</h3>
        <img src="/assets/img/menu-products/pab-cmb-molle-400.png">
    </div>
    <div class="col-md-6 col-6 pub-combo">
        <h3>combo dure</h3>
        <img src="/assets/img/menu-products/pab-cmb-dure-400.png">
    </div>


    <div class="col-12" id="pub-tartes">
<!--        <section id="img-tartes">-->
<!--            <article>-->
<!--                <h5>caramel salé</h5>-->
<!--                <img src="/assets/img/menu-products/pab-tarte-caramel-sale-400.png">-->
<!--            </article>-->
<!--            <article>-->
<!--                <h5>pépites de chocolat</h5>-->
<!--                <img src="/assets/img/menu-products/pab-tarte-pepites-choco-400.png">-->
<!--            </article>-->
<!--            <article>-->
<!--                <h5>triple chocolat</h5>-->
<!--                <img src="/assets/img/menu-products/pab-tarte-triple-choco-400.png">-->
<!--            </article>-->
<!--        </section>-->

        <img id="info-tartes-bg"
             src="/assets/img/menu-products/pab-tarte-pepite-1920x1280.jpg"
             alt="tarte pepittes"
        />
        <!--img src="/assets/img/menu-products/pab-tarte3-topleft-1600.jpg" style="width:100%;"-->
        <section id="info-tartes">

            <h3>Ou goûtez à nos décadentes tartes à la pâte à biscuits!</h3>
            <br/>
            <p>Essayez une de nos 3 différentes saveurs; caramel salé, fudge et pépites de chocolat ou
                triple chocolat. Elles sont congelées et disponibles au commerce.<br/><br/>
                Après 15 minutes à 350F (180C), elles deviennent décadentes, fondantes, délicieuses.</p>
        </section>
    </div>



    <div id="pub-autres" class="col-12">
        <!--div>
            <h3>Nos autres produits à base de pâte à biscuit</h3>
            <p></p>
            <img src="/assets/img/menu-autres/pab-autres-600.jpg">
        </div-->
    </div>

    <!--div class="col-sm-6 col-12 submenu-lastrow otherproducts" >
        <button id="submenu-lastrow-next" routerLink="/menu/autres-produits">
            Autres
        </button>

    </div>
    <div class="col-sm-6 col-12 submenu-lastrow icecream">
        <button id="submenu-lastrow-prev" routerLink="/menu/cremerie">
            crèmes glacées
        </button>
    </div-->
</div>

<div class="parralax">
    <img src="/assets/img/menu-autres/comptoir-pab-800.jpg">
</div>
