<div class="submenu product-page row justify-content-center">
    <div id="cookie-banner" class="col-12 banner" style="padding-top: 60px;height:160px;margin-bottom: 40px;">
        <h2>Nos Pates à Biscuits</h2>
    </div>


    <div class="col-md-4 col-sm-12 pab-kind"> 
        <h3>Caramel</h3>
        <img src="/assets/img/menu-products/pab-rnd-caramel-200.png" alt="caramel">
    </div>
    <div class="col-md-4 col-sm-12 pab-kind">
        <h3>Pépites de chocolat</h3>
        <img src="/assets/img/menu-products/pab-rnd-pepites-200.png" alt="pepites">
    </div>
    <div class="col-md-4 col-sm-12 pab-kind">
        <h3>Double chocolat</h3>
        <img src="/assets/img/menu-products/pab-rnd-choco-200.png" alt="choco">
    </div>
    <div class="bottom col-md-4 col-sm-12 pab-kind">
        <h3>Reese</h3>
        <img src="/assets/img/menu-products/pab-rnd-reese-200.png" alt="reese">
    </div>
    <div class="bottom col-md-4 col-sm-12 pab-kind">
        <h3>Arc-en-ciel</h3>
        <img src="/assets/img/menu-products/pab-rnd-arc-en-ciel-200.png" alt="reese">
    </div>
    <!--div class="top left col-md-6 col-sm-12 pab-kind"> 
        <h3>Caramel</h3>
        <img src="/assets/img/menu-products/pab-rnd-caramel-200.png" alt="caramel">
    </div>
    <div class="top right col-md-6 col-sm-12 pab-kind">
        <h3>Pépites de chocolat</h3>
        <img src="/assets/img/menu-products/pab-rnd-pepites-200.png" alt="pepites">
    </div>
    <div class="bottom left col-md-6 col-sm-12 pab-kind">
        <h3>Double chocolat</h3>
        <img src="/assets/img/menu-products/pab-rnd-choco-200.png" alt="choco">
        
    </div>
    <div class="bottom right col-md-6 col-sm-12 pab-kind">
        <h3>Reese</h3>
        <img src="/assets/img/menu-products/pab-rnd-reese-200.png" alt="reese">
    </div-->

    <div class="col-12" id="pub-combos">
        <h3>Ou bien prenez un combo!</h3>
    </div>
    <div class="col-md-6 col-sm-12 pub-combo">
        <h3>Crème Molle</h3>
        <img src="/assets/img/menu-products/pab-cmb-molle-400.png">
    </div>
    <div class="col-md-6 col-sm-12 pub-combo">
        <h3>Crème Dure</h3>
        <img src="/assets/img/menu-products/pab-cmb-dure-400.png">
    </div>


    <div class="col-12" id="pub-tartes">
        <h3>Ou essayez nos tartes!</h3>
        <img src="/assets/img/menu-products/pab-tarte1-1000.png">
    </div>

    <div class="col-6 submenu-lastrow">
        <button id="submenu-lastrow-next" mat-stroked-button color="primary" routerLink="/menu/autre-produits">
            Nos<br/>autres produits
        </button>

    </div>
    <div class="col-6 submenu-lastrow">
        <button id="submenu-lastrow-prev" mat-stroked-button color="primary" routerLink="/menu/cremerie">
            Nos<br/>crèmes glacées
        </button>
    </div>
</div>