<div class="submenu product-page row justify-content-center">
    <div class="col-12" style="padding-top: 40px;">
        <h2>Nos pates a biscuits standards</h2>
    </div>
    <div id="cookie-kinds" class="col-12">
        <div class="top left">
            <h3>Sorte</h3>
            <img class="cdough-preview">
        </div>
        <div class="top right">
            <h3>Sorte</h3>
            <img class="cdough-preview">
        </div>
        <div class="bottom left">
            <h3>Sorte</h3>
            <img class="cdough-preview">
        </div>
        <div class="bottom right">
            <h3>Sorte</h3>
            <img class="cdough-preview">
        </div>
    </div>




    <div id="cookie-carousel" class="carousel slide m col-md-12 col-sm-12" data-ride="carousel">
        <div class="carousel-inner" style="height:100%;">
            <div class="carousel-item active" data-interval="5000" style="height:100%;">
                <img class="cdough-preview d-block w-100" alt="">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Nouveaute</h3><p></p>
                </div>
            </div>
            <div class="carousel-item" data-interval="5000" style="height:100%;">
                <img class="cdough-preview d-block w-100" alt="">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Pate du mois</h3><p></p>
                </div>
            </div>
        </div>
        <a class="carousel-control-next" href="#cookie-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="col-md-6 col-sm-12">
        <h3>Combo molle</h3>
        <img>
    </div>
    <div class="col-md-6 col-sm-12">
        <h3>Combo dure</h3>
        <img>
    </div>

    <div class="col-md-12 col-sm-12">
        <h3>Tartes</h3>
        <img>
        <div class="button-row">
            <button mat-raised-button color="primary">Saveurs</button>
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <h3>Biscuits / Minis</h3>
        <img>
        <div class="button-row">
            <button mat-raised-button color="primary">Saveurs</button>
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <h3>Sandwichs à la pâte à biscuit</h3>
        <img>
        <div class="button-row">
            <button mat-raised-button color="primary">Saveurs</button>
        </div>
    </div>

</div>